.sort{
    font-size: 10px;
}
.modal-btn{
    border: 0;
}
.modal-btn:hover{
    background: var(--main-color)!important;
    color: #fff!important;
}
.sort-icon{
    margin-left: 5px;
    color: #333;
}